/*Style Généraux du site*/
* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: #181C8B;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

.button {
    color: #fefefe;
    background-color: #181C8B;
    cursor: pointer;
    margin-bottom: 10px;
}

.header {
    background-color: #181C8B;
}

footer {
    background-color: #181C8B;
    color: #fefefe;
    margin-top: 10px;
}

/* Style de la page d'accueil */
.button-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}

.login {
    color: #fefefe;
    background-color: #181C8B;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Responsive de la page d'accueil */
@media (max-width: 576px) {
    .login {
        width: 100%;
        font-size: 18px;
    }

    .punchline p {
        font-size: 16px;
    }
}

/*Style du CRUD*/
.lesson {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 10px;
    background-color: #181C8B;
    color: #fefefe;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) td {
    background-color: #181C8B;
    color: #fefefe;
}

tr:nth-child(odd) td {
    background-color: #fefefe;
    color: #181C8B;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #181C8B;
}

th {
    background-color: #181C8B;
    color: #fefefe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.delete__button {
    background-color: #ff0000;
    color: #fefefe;
    cursor: pointer;
}

.ajout-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.cancel-button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.edit_user_button {
    display: block;
    background-color: #181C8B;
    color: #fefefe;
    width: 90%;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Texte s'il n'y à aucune information trouvé dans le tableau utilisateur ou formation */
.text-user {
    background-color: #fefefe;
    color: #181C8B;
    text-align: center;
}

/* Style du CRUD des formations */
.formation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

/* Style du formulaire de la page Se Connecter */
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    margin: 10px 10px;
    cursor: pointer;
}

/* Responsive de la page Se Connecter */
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .container_button {
        flex-direction: column;
        align-items: stretch;
    }

    .container_button input,
    .container_button button {
        margin-bottom: 10px;
    }
}

/* Style du dashboard de l'utilisateur */
.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a .button {
    text-decoration: none;
}

.user-info-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: left;
}

.user-info-container h2 {
    font-size: 24px;
    color: #181C8B;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.user-info-container p {
    font-size: 18px;
    color: #181C8B;
    margin: 10px 0;
    white-space: nowrap;
}

.user-detail {
    font-weight: bold;
    color: #181C8B;
}

/* Responsive du dashboard de l'utilisateur */
@media (max-width: 576px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .user-info-container h2 {
        font-size: 20px;
    }

    .user-info-container p {
        font-size: 16px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar .button {
        max-width: 100%;
    }
}

/* Style des cards de formation pour lesquelles 
        l'utilisateur peut postuler  */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 25%;
    background-color: #181C8B;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
}

.card-body {
    padding: 16px;
    color: #fefefe;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fefefe;
    display: flex;
    text-align: center;
}

.card-text {
    font-size: 14px;
    color: #fefefe;
}

.button-card {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #181C8B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsive de la page des formations que peut voir l'utilisateur */
@media (max-width: 576px) {
    .card {
        width: 50%;
    }
}

/* Style de la page des documents à fournir pour postuler dans une formation */
.document-list ul {
    list-style-type: none;
    padding: 0;
}

.document-list li {
    background: #ffffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.document-item {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.document-item h2 {
    color: #181C8B;
}

.document-description {
    margin-top: 10px;
}

/* Responsive pour la page des documents à fournir0
             pour la formation */
@media screen and (max-width: 576px) {
    .card {
        max-width: 100%;
        margin: 20px auto;
    }
}

/* Style du formulaire pour déclarer une absence 
        pour un utilisateur */
.form-absence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropzone {
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    height: 200px;
    border: 2px dashed #cccccc;
    text-align: center;
    line-height: 160px;
    margin-bottom: 10px;
}

/* Responsive de la page absence pour les utilisateurs */
@media (max-width: 576px) {
    .form-absence {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .form-absence div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-absence label {
        margin-bottom: 5px;
    }

    .form-absence input,
    .form-absence button {
        width: 100%;
    }

    .dropzone {
        width: 100%;
        height: 120px;
        line-height: 80px;
        padding: 10px;
    }
}

/* Media Query du tableau de bord du responsable administratif */
@media (max-width: 576px) {
    .button-container {
        text-align: center;
    }

    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .table td {
        display: block;
        text-align: right;
        border: none;
        padding: 5px 10px;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
    }

    .table td:last-child {
        border-bottom: 1px solid #ddd;
    }
}