h1{
    color: #181C8B;
    text-align: center;
}

.button{
    color: #fefefe;
    background-color: #181C8B;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.table, th, tr, td{
    border: 1px solid #181C8B;
    margin-top: 10px;
}

.table th{
    color: #fefefe;
    background-color: #181C8B;
}