/*Style Généraux du site*/
* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: #181C8B;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.logo{
    margin-left: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

.button {
    color: #fefefe;
    background-color: #181C8B;
    cursor: pointer;
    margin-bottom: 10px;
}

.header {
    background-color: #181C8B;
}

footer {
    background-color: #181C8B;
    color: #fefefe;
    margin-top: 10px;
}

/* Style de la page d'accueil */
.button-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}

.login {
    color: #fefefe;
    background-color: #181C8B;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/*Style du CRUD*/
table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) td {
    background-color: #181C8B;
    color: #fefefe;
}

tr:nth-child(odd) td {
    background-color: #fefefe;
    color: #181C8B;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #181C8B;
}

th {
    background-color: #181C8B;
    color: #fefefe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cancel-button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Style du formulaire de la page Se Connecter */
.container_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    margin: 10px 10px;
    cursor: pointer;
}

/* Responsive de la page Se Connecter */
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .container_button {
        flex-direction: column;
        align-items: stretch;
    }

    .container_button input,
    .container_button button {
        margin-bottom: 10px;
    }
}

/* Style des cards de formation pour lesquelles 
        l'utilisateur peut postuler  */

.card {
    background: #181C8B;
    color: #fefefe;
}

.button-card {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #181C8B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}